.displayable_fruits_list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
}

.FruitsList {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex: 1;
  height: 100px;
  width: 100%;
}

.FruitsName {
  display: flex;
  width: 200px;
  justify-content: flex-start;
  color: bisque;
}

.FruitStatistic {
  display: flex;
  width: 70px;
  justify-content: flex-start;
  color: bisque;
}